.container {
  background-color: var(--background-primary);
  padding: 20px;
  margin-bottom: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.404);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
