.left-column {
  background-color: var(--background-secondary);
  padding: 2vh 1vw;
  box-shadow: 0 .2vw .2vw rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5vh;
  height: 82vh;
  width: 18vw;
}
