.text {
  color: var(--text);
  font-size: 1vw;
  line-height: 1.5;
}
.title {
  color: var(--text);
  font-size: 1vw;
  line-height: 1.5;
  font-weight: bold;
}

.text-green {
  color: var(--text-green);
  font-size: 2vw;
  line-height: 1.5;
  font-weight: 600;
}
