.headerContainer {
  background-color: var(--background-primary);
  padding: 2vh 3vw;
  box-shadow: 0 .2vw .2vw rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.headerContainer svg {
  width: 25%;
  height: 100%;
}
